<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Flasky: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all">
  </head>
  <body>
    <!-- Header Section -->
    {% block header %}
      {% include 'partials/header.html' %}
    {% endblock %}
      
    <!-- Main content -->
    <main class='main container-fluid py-5'>
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer Section -->
    {% block footer %}
      {% include 'partials/footer.html' %}
    {% endblock %}

    <!-- Javascript files -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
