{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {{ super() }}
      <title>Flasky: {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all">
    {% endblock %}
  </head>
  <body>
    <!-- Header Section -->
    {% block header %}
      {% include 'partials/header.html' %}
    {% endblock %}

    <!-- Main content -->
    {% block content %}
    {% endblock %}

    <!-- Footer Section -->
    {% block footer %}
      {% include 'partials/footer.html' %}
    {% endblock %}

    <!-- Javascript files -->
    {% block scripts %}
    {{ super() }}
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
  </body>
</html>
