{% extends 'base.html' %}

{% block title %}
User
{% endblock %}

{% block header %}
  {% include 'partials/header.html' %}
{% endblock %}


{% block content %}
<div class="form">
  <form action="" method='POST'>
    <div class="form-inline">
      {{ form.hidden_tag() }}
      {{ form.name.label }}<span class="mx-3">{{ form.name() }}</span>{{ form.submit() }}
    </div>
  </form>
</div>

<div class="form-display mt-5">
  <h2>Hello, {% if name %} {{ name|capitalize }} {% else%} Stranger {% endif %}</h2>
  {% if not known %}
    <p>Pleased to meet you.</p>
  {% else %}
    <p>Welcome back, happy to see you again.</p>
  {% endif %}
</div>
{% endblock %}
